@import '../styles/_mixins.scss';

.categories {
  width: 100%;
  max-width: 1444px;
  margin: 40px auto;
  padding: 30px 60px;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    &--text {
      text-align: center;

      h2 {
        font-size: 24px;
        line-height: 36px;

        @include desktop {
          font-size: 48px;
          line-height: 72px;
          font-weight: bold;
        }
      }
    }

    &--cardsContainer {
      margin: 20px;
      max-width: 1444px;
      width: 100%;
      padding: 10px;
      gap: 10px;

      .colCards {
        margin: 10px !important;
      }

      .cards {
        background-color: #FFFFFF;
        box-shadow: 0px 20px 30px rgba(132, 0, 223, 0.1);
        border-radius: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 3rem;
        padding-right: 2.5rem;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;

        @include desktop {
          width: 20rem;
          height: 10rem;
        }

        &--text {
          font-size: 13px;
        }

      }

      .circle {
        position: absolute;
        width: 4rem;
        height: 4rem;
        background: #4D55F5;
        border-radius: 100%;
        left: -20px;
        top: -5px;

        img {
          object-fit: contain;
          object-position: center;
          display: flex;
          margin: 0 auto;
          height: 30px;
          margin-top: 17px;
        }
      }

    }

    .mensage {
      background: #8400DF;
      color: #FFFFFF;
      border-radius: 34px;
      padding: 10px 20px;
      font-size: 15px;
    }
  }

}