.directory {
    max-width: 1444px;
    margin: 0 auto;
    padding: 30px 80px;
    background-image: url('../../assets/images/star.png');
    background-repeat: no-repeat;
    background-position: center;

    &__title {
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        text-align: center;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin: 40px 0;
    }

    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px 40px;
        border-radius: 34px;
        &--item {
            background: #4D55F51A;
            box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, 0.12);
            padding: 40px;
            text-align: center;
            h3 {
                color: #4D55F5;
                margin: 20px 0;
                font-size: 20px;
                line-height: 24px;
            }
            p {
                margin: 20px 0;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    &__search {
        margin: 60px 0;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        input {
            width: 70%;
            border-radius: 40px;
            border: 2px solid #4D55F5;
            height: 60px;
            padding: 0 20px;
        }
    }
}