@import '../styles/_mixins.scss';

.header {
    background: #fff;
    max-width: 100%;
    padding: 20px 0;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &--logo {
            img {
                height: 10px;
            }
        }

        &--links {
            ul {
                display: none;
            }
        }

        &--actions {

            button {
                background: transparent;
                border: 1px solid #8400DF;
                font-size: 8px;
                border-radius: 20px;
                padding: 2px 8px;
                min-width: 20px;
            }

            .register {
                border: none;
                background: #8400DF;
                color: #fff;
            }
        }

    }

    @include desktop {
        background: #fff;
        box-shadow: 0 0.375rem 0.5rem rgba(0, 0, 0, .12);
        padding: 30px 80px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9;

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1444px;
            margin: 0 auto;

            &--left {
                align-items: center;
                display: flex;
                gap: 16px;
            }

            &--logo {
                img {
                    height: 30px;
                    width: 264px;
                }
            }

            &--links {
                ul {
                    list-style: none;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    margin: 0;
                    margin-right: 10px;

                    li {
                        a {
                            text-decoration: none;
                            font-size: 12px;
                            color: #4D55F5;
                        }
                    }
                }
            }

            &--actions {
                display: flex;
                gap: 16px;
                align-items: center;

                button {
                    background: transparent;
                    border: 1px solid #8400DF;
                    font-size: 12px;
                    border-radius: 20px;
                    padding: 8px 20px;
                    min-width: 133px;

                    &:hover {
                        background: #8400DF;
                        color: #fff;
                    }
                }

                .register {
                    border: none;
                    background: #8400DF;
                    color: #fff;
                }
            }

        }
    }

    .loader {
        background: #fff;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 100px;
        width: 100%;
        z-index: 9;
    }


}