.footer {
  padding: 2rem;
  background-color: #38075A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--list {
      border-left: 1px solid #fff;
      padding-left: 10px;
      margin: 0 20px;
      list-style: none;
      text-decoration: none;
      li {
        a {
          color: #fff;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }

  &__social {
    ul {
      margin: 0;
    }
  }
  span {
    color: #fff;
    margin-top: 20px;
    font-size: 12px;
    
  }
}