.footer {
  padding: 2rem;
  background-color: #38075A;

  &_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--list {
      border-left: 1px solid #fff;
      padding-left: 20px;
      list-style: none;
      text-decoration: none;
      color: #fff;
    }
  }
}