@import '../styles/_mixins.scss';

.testimonials {
    max-width: 1444px;
    margin: 0 auto;
    padding: 30px 80px;

    &__title {
        font-size: 48px;
        line-height: 72px;
        font-weight: 700;
        text-align: center;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        margin: 40px 0;
    }

    &__cards {
        flex-direction: column;
        @include desktop {
            display: flex;
            align-items: start;
            flex-direction: row;
            justify-content: space-between;
            gap: 60px;
        }
        &--item {
            text-align: center;
            &-image {
                border-radius: 40px;
                text-align: left;
                img {
                    width: 100%;
                }
            }

            h3 {
                margin: 30px 0;
                font-size: 32px;
                line-height: 38px;
                color: #4D55F5;
            }
            p {
                font-style: italic;
                margin: 20px 0;
                font-size: 16px;
                line-height: 20px;
                text-transform: italic;
            }
        }
    }
    &__search {
        margin: 60px 0;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        input {
            width: 70%;
            border-radius: 40px;
            border: 2px solid #4D55F5;
            height: 60px;
            padding: 0 20px;
        }
    }
}