@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-main {
    background-image: url('./assets/images/bg_hero-categories-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonials-main {
    background-color: #DAFF7C33;
}

.dashboard {
    width: 100%;
    object-fit: contain;
    margin: 100px auto 0;
    display: block;
    object-position: top;
}