@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
.bg-main {
    background-image: url('./assets/images/bg_hero-categories.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonials-main {
    background-color: #DAFF7C33;
}